@keyframes colorchange {
    0%{background-color: blue;}
    20%{background-color: green;}
    40%{background-color: lightblue;}
    60%{background-color: blue;}
    80%{background-color: purple;}
    100%{background-color: brown;}
    
}
@keyframes eyesmove{
    0%{margin-right: 5px;}
    50%{margin-left: 15px;
        margin-right: 0;}
    100%{margin-right: 15px;}
}
@keyframes wave{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-30deg);}
    100%{transform: rotate(0deg);}
}
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;  /* having the whole face in the center */
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: hsl(0, 33%, 59%);
    overflow: hidden;
}
.person{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    background-color: hsl(19, 76%, 88%); 
    height: 340px;
    width: 225px;
    border-radius: 70% 70% 100% 100%;/* giving more of a rounded shape to the face */
    display: flex;
    justify-content: center;/* every element withing the head will be centered */
    align-items: center;
}
.eyes, .brows{
    content: '';
    position : absolute;
    width: 195px;
    display: flex;
    justify-content: space-between;/* these work on both as they separate them from each other */
}
.eyes{
    transition-duration: 0.4s;
}
.eye{
    background-color: white;
    height: 35px;
    width: 65px;
    border-radius: 100%;/* giving both eyes a rounded look*/
    border-top: 3px solid hsl(19,46%,68%);
    border-bottom: 3px solid hsl(19,46%,68%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;/* hides the overflow of the color*/
    position: relative;
}
.eye:hover{
    margin-top: 15px;
    height: 0;
}
.eye::before{/* eye color */
    content: '';
    position: absolute;
    width: 41px;
    height: 41px;
    background-color:#a18365;
    border-radius: 100%;
    margin-bottom: 5px;/* this will make the eye to look more sideways since it's mnot very good looking when the face stares at you*/
    margin-right: 5px;
}
.eye::after{/* pupil*/
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 100%;
    margin-right: 15px;
    margin-bottom: 7px;
    animation: eyesmove 2000ms infinite;
}
.brow{
    width: 65px;
    height: 32px;
    border-top: 10px solid rgb(27, 27, 27);/* background color is not needed here, only a border that get a color and size*/
    border-radius: 100%;
    margin-bottom: 35px;
    transition-duration: 0.3s;
}
.brow:hover{
    transform: translateY(-30px);
}
.nose{
    position: absolute;
    border: 4px solid hsl(19,46%,68%);
    width: 40px;
    height: 30px;
    border-radius: 0 0 100% 100%;
    border-top: none;/* removes the top border so that it gets a nose look, otherwise it will look like a square*/
    margin-top: 100px;/* getting the nose lower*/
}
.mouth{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-top: 225px;/*moving the mouth lower*/
    border-radius: 20% 20% 100% 100%;/* making the ointainer more rounded so that it looks more like a mounth*/
    border: 4px solid hsl(19,46%,68%);/* the border is the lips*/
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 2px;
    transition-duration: 0.3s;
}
.mouth:hover{
    width: 10px;
    height: 20px;
    background-color: hsl(19,46%,68%);
}
.ears{
    z-index: -1;/*moving the ears behind the head*/
    position: absolute;
    width: 265px;
    display: flex;
    justify-content: space-between;

}
.ear{
    width: 25px;
    height: 70px;
    border: 2px solid hsl(19, 46%, 68%);
    background: hsl(19,76%,85%);
    border-radius: 0 100% 100% 0;
}
.ear:first-child{
    border-radius: 100% 0 0 100%;/*giving different borders to the different ears since the exact same shape won't work on both sides*/
}
.hair{
    position: absolute;
    width: 225px;
    height: 90px;
    background-color: hsl(27, 33%, 28%);
    margin-bottom: 300px;
    border-radius: 70% 100% 0 0;
}
.hair::before, .hair::after{
    content: '';
    position: absolute;
    background-color: hsl(27, 33%, 28%);
    height: 75px;
    width: 10px;
    margin-top: 90px;
}
.hair::after{
    right: 0;
}
.hair-corner{
    position: absolute;
    width: 100%;
}
.hair-corner::before, .hair-corner::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 20px;
    transform: rotate(45deg);
    background-color: hsl(27, 33%, 28%);
    top: 82px;
    left: 5px;
}
.hair-corner::after{
    left:initial;
    right: 5px;
    transform: rotate(-45deg);
}
.neck{
    z-index: -1;
    position: absolute;
    width: 80px;
    height: 70px;
    background-color: hsl(19, 76%, 88%); 
    bottom: 170px;
    border-radius: 0 0 25% 25%;
}
.neckline{
    position: absolute;
    width: 120px;
    height: 50px;
    border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid hsl(19, 76%, 88%);
    border-radius: 100%;
    top: 161px;
    overflow: hidden;
}
.torso{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shirt{
    z-index: -2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 99, 202);
    width: 250px;
    height: 213px;
    border-radius: 50% 50% 0 0;
    top: 165px;
    animation: colorchange 5000ms infinite;
}
.walls{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wallline-1{
    z-index: -2;
    content: '';
    position: absolute;
    height: 450px;
    width: 2px;
    background-color: black;
    bottom: 230px;
    left: 250px;
}
.wallline-2{
    z-index: -2;
    content: '';
    position: absolute;
    height: 190px;
    width: 2px;
    background-color: black;
    bottom: 110px;
    left: 341px;
    transform: rotate(105deg);
}
.wallline-3{
    z-index: -2;
    content: '';
    position: absolute;
    height: 477px;
    width: 2px;
    background-color: black;
    left: 19px;
    margin-bottom: 332px;
    transform: rotate(-105deg);
}
.dumb{
    position: absolute;
    height: 200px;
    width: auto;
    left: 130px;
    top: 70px;
    transform: rotate(10deg);
}
.hands{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shoulder{
    position: absolute;
    height: 30px;
    width: 50px;
    background-color: rgb(99, 99, 202);
    border-radius: 100% 100% 0 0;
    animation: colorchange 5000ms infinite;
}
.upperarm{
    position: absolute;
    width: 40px;
    height: 140px;
    background-color: hsl(19, 76%, 88%); 
    border-radius: 10% 10% 20% 20%;
}
.forearm{
    position: absolute;
    width: 40px;
    height: 140px;
    background-color: hsl(19, 76%, 88%); 
    border-radius: 10% 10% 30% 30%;
}
.shoulder-1{
    top: 180px;
    left: 80px;
    transform: rotate(-40deg);
}
.shoulder-2{
    top: 180px;
    right: 80px;
    transform: rotate(40deg);
}
.upperarm-1{
    top: 187px;
    left: 145px;
    transform: rotate(-40deg);
}
.upperarm-2{
    top: 187px;
    right: 145px;
    transform: rotate(40deg);
}
.forearm-1{
    top: 177px;
    left: 190px;
    transform: rotate(10deg);
}
.forearm-2{
    top: 177px;
    right: 190px;
    transform-origin: bottom;
    animation: wave 1000ms infinite;
}

/* position absolute is used everywhere so that the containers can stack on each other*/